.headerContainer {
    height: 3rem;
    background-color: #1e66b8;
    display: flex;
    justify-content: start;
    align-items: center;
    div {
        color: white;
        margin-left: 2rem;
        font-size: larger;
        cursor: pointer;
    }
}