.imgClass {
    width: 100%;
    height: 221px;
}

.title {
    font-size: 17px;
    font-weight: 700;
    text-decoration: underline;
    margin: 15px 0rem;
}

.details {
    div {
        margin: 10px 0px;
    }
}