<!-- <div *ngIf="cityWhetherData">
    <img class="imgClass" src="{{images[cityWhetherData?.weather[0].main]}} " />
</div> -->
<div *ngIf="cityWhetherData">
    <div class="title">
        {{cityWhetherData.name}} Whether Details
    </div>
    <div class="details">
        <!-- <div>Name: {{cityWhetherData.name}}</div> -->
        <div>Humidity : {{cityWhetherData.main.humidity}}</div>
        <div>Sea Level : {{cityWhetherData.main.sea_level ? cityWhetherData.main.sea_level : '--'}}</div>
        <div>Pressure : {{cityWhetherData.main.pressure}}</div>
        <div>Temperature : {{cityWhetherData.main.temp}}</div>
        <div>Temp Max : {{cityWhetherData.main.temp_max}}</div>
        <div>Temp Min : {{cityWhetherData.main.temp_min}}</div>

    </div>

</div>