<div class="container">
    <ng-container *ngIf="whetherData">
        <div *ngFor="let item of whetherData" [ngClass]="['itemClass']" (click)="showDetails(item)">
            <div>
                <img class="imgClass" src="{{images[item?.weather[0].main]}} " />
            </div>
            <div class="subContainer ">
                <!-- I am not getting the Sunset and Sunrise within this api -->
                <div class="itemValue "> <span class="labelName ">Name:</span> <span class="labelValue ">{{item.name}}</span></div>
                <div class="itemValue "> <span class="labelName ">Temperature:</span> <span class="labelValue ">{{item?.main?.temp}}</span></div>
                <div class="itemValue "> <span class="labelName ">Description:</span> <span class="labelValue ">{{item?.weather[0].description}}</span></div>

            </div>

        </div>
    </ng-container>
</div>