.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 1em;
    margin: 2rem 0rem;
}

.itemClass {
    color: #E5E7EB;
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    background-color: #07575B;
    cursor: pointer;
    .imgClass {
        width: 15rem;
        height: 7rem;
        border-radius: 10px;
    }
}

.subContainer {
    div {
        margin: 1rem;
    }
}

.labelName {
    font-weight: 600;
    font-family: sans-serif;
}

.labelValue {
    font-family: sans-serif;
    margin-left: 10px;
    white-space: nowrap;
}